<h1>Angular modals</h1>
<nav class="nav">
  <ul>
    <li><a routerLink="app/first" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="app/second" routerLinkActive="active">Second Component</a></li>
  </ul>
  <div>
    <button [routerLink]="[ '/app', {outlets: { modal: 'new-product' } } ]">Create product</button>
    <button [routerLink]="[ '/app', {outlets: { modal: 'new-client' } } ]">Create client</button>
  </div>
</nav>
<router-outlet></router-outlet>
<router-outlet name="modal"></router-outlet>
